body {
    height: 100vh;
    overflow-x: hidden;
}

fieldset {
    padding: 5px !important;
    border: 1px solid black !important;
}

section:before {
    height: 64px;
    content: "";
    display:block;
}

#logo-container {
    position: absolute;
    width: 100%;
}

#logo {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

#login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
}

.navbar-brand {
    width: 48px;
    height: 48px;
}

.navbar-brand > img {
    margin-top: -5px;
}